<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script type="text/javascript" src="../static/javascript/alert.js"></script>
    <title>My Login Form</title>
</head>
<body>

<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br>


<div class="container-fluid">

    <div class="row justify-content-md-center">
        <div class="col">
        </div>
        <div class="col-8">
            <div class="alert alert-dark text-center" style="background-color: lightsalmon" role="alert">
               <h2> <i class="fas fa-lock">  Secure Log in</i></h2>
            </div>
       </div>
        <div class="col">
        </div>
    </div>

<div class="row justify-content-md-center">

<div th:if="${param.error}">
    <h3 style="color: lightgreen">Invalid Username or Password</h3>
</div>

<div th:if="${param.logout}">
    <h3 style="color: lightgreen">You have been logged out.</h3>
</div>

</div>

<br>
<!--        For Log In-->
     <div class="col">
         <div class="row">

             <div class="col-2">
             </div>

         <div class="col">
            <h3>Returning User</h3><br>
<!--            <form action="login" method="POST">-->
                <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <i class="fas fa-user-check"></i>
<!--                    <label for="username">Username</label>-->
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <i class="fas fa-lock-open"></i>
<!--                    <label for="password">Password</label>-->
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <small class="form-text text-muted">Case sensitive</small>
                </div>

               <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>

    <!--        For Registration-->
        <div class="col">
        <h3>No account yet?</h3><br>

            <a href="/register" class="list-group-item ">Create Account </a>

        </div>

             <div class="col-2">
             </div>
     </div>
     </div>
 </div>

        <!--<form th:action="@{/login}" method="post">

            <div>
                <label>
                    User name: <input type="text" name="username"/>
                </label>
            </div>

            <div>
                <label>
                    Password: <input type="password" name="password"/>
                </label>
            </div>

            <div>
                <input type="submit" name="Submit"/>
            </div>

        </form>-->


<br><br><br><br><br><br><br>
<!--Footer-->
<div th:insert="base :: footer"></div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>